.button-group {
  flex-shrink: 0;
  &__button {
    display: inline-block;
    line-height: 26px;
    border: none;
    background: $gunmetal;
    color: $spanishGray;
    height: 38px;
    border-radius: 0;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background: $gunmetalLight;
    }
    &:not(:last-child) {
      border-right: 1px solid $spanishGray;
    }
    &:first-child {
      border-radius: $br 0 0 $br;
    }
    &:last-child {
      border-radius: 0 $br $br 0;
    }
    &.active {
      color: $orange;
      background: $gunmetalLight;
      &:hover {
        background: $gunmetalLight;
      }
    }
  }
}
