.dashboard {
  background: $spanishGray;
  padding: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  color: $auburn;

  &__top-bar {
    display: flex;
    align-items: center;
  }

  &__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    flex-grow: 1;
    padding: 0 20px;

    &-btn {
      @include button-default;
    }

    form {
      display: flex;
      align-items: center;
    }
  }

  &__charname-input {
    margin: 0 5px 0 0;
    border: none;
    border-radius: $br;
    padding: 10px 12px;
  }

  &__submit-charname {
    height: 38px;
    border: 2px solid $orange;
    color: $orange;
    background: $gunmetal;
    border-radius: $br;
  }

  &__chart-container {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0px;
    //max-height: 720px;
    width: 100%;
  }
}