.dashboard {
  background: $spanishGray;
  padding: 0 20px;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  color: $auburn;

  &__top-bar {
    margin: 0 -20px;
    padding: 15px 20px;
    //height: 100px;
    display: flex;
    align-items: center;
    background: $headerBGColor;
  }

  &__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    flex-grow: 1;
    padding: 0;

    &-btn {
      @include button-default;
    }

    form {
      display: flex;
      align-items: center;
    }
  }

  &__charname-input {
    margin: 0 5px 0 0;
    border: none;
    border-radius: $br;
    padding: 10px 12px;
  }

  &__submit-charname {
    height: 38px;
    border: 2px solid $orange;
    color: $orange;
    background: $gunmetal;
    border-radius: $br;
  }

  &__sample-data-button {
    @include button-default;
    color: $saffron;
    border-color: $saffron;
    padding: 20px;
  }
}