.session-select, .team-select {
  margin: 0 0 0 15px;
  width: 350px;
  height: fit-content;
  border-radius: 4px 2px 2px 4px !important;
  font-size: 1.6rem;

  &__control {
    @include styled-scrollbar;
    border-radius: 4px 2px 2px 4px !important;
    max-height: 38px;
    overflow-y: scroll;
    border-width: 0 !important;
    &--is-focused {
      max-height: 82px;
      border-color: $gunmetal !important;
      box-shadow: 0 0 0 1px $gunmetal !important;
    }
  }
  &__indicators {
    position: sticky;
    top: 0;
    right: 0;
    height: 100%;
    flex-direction: column !important;
    justify-content: center;
  }
  &__dropdown-indicator, &__indicator-separator {
    display: none !important;
  }
  &__menu, &__menu-list {
    @include styled-scrollbar;
  }
}

.team-select {
  width: 200px;
}