.match-list {
  margin: 25px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.match-item {
  position: relative;
  margin: 0 0 15px;
  //padding: 15px;
  color: $white90;
  background: #282c34;
  height: fit-content;
  width: 100%;
  max-width: 800px;
  border-radius: $br;

  &.instance-572 {
    //  ruins
    background: url("../assets/backgrounds/ruins.jpg") no-repeat 50% 70%;
  }
  &.instance-562 {
    //  blade edge
    background: url("../assets/backgrounds/edge.jpg") no-repeat 50% 63%;
  }
  &.instance-559 {
    //  nagrand
    background: url("../assets/backgrounds/nagrand.jpg") no-repeat 50% 100%;
  }

  &__header {
    //position: relative;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
    margin: 0 0 20px;
  }
  &__date {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: $white50;
  }
  &__instance-name {

  }
  &__team-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__team {
    width: 50%;
    //height: 100%;
    text-align: left;
    &.team-left {
      border-radius: 10px 0 0 10px;
      padding: 53px 60px 15px 15px; // depends on match header height + match-item padding
      &.win {
        background: linear-gradient(to right, $winGreen 30%, $winGreen85 50%, $winGreenFade);
      }
      &.loss {
        background: linear-gradient(to right, $lossRed 30%, $lossRed85 50%, $lossRedFade);
      }
    }
    &.team-right {
      text-align: right;
      border-radius: 0 10px 10px 0;
      padding: 53px 15px 15px 60px; // depends on match header height + match-item padding
      background: linear-gradient(to left, rgba(49, 49, 49, 0.85) 50%, rgba(49, 49, 49, 0));
    }
  }
  &__team-header {
    margin: 0 0 10px;
  }
  &__team-name {
    margin: 0 0 3px;
    font-size: 22px;
    font-weight: bold;
  }
  &__team-rating {
    font-size: 16px;
  }
  &__rating-change {
    &.win {

    }
    &.loss {

    }
  }
}

.team-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: fit-content(30%) fit-content(30%) fit-content(30%);
  column-gap: 10px;
  font-size: 16px;
  position: relative;
  margin: 0 0 3px;
  text-align: left;

  &__player-name {
    font-size: 18px;
    //text-shadow: 0.5px 0.5px 0px #000000;
  }
  &--my-team {

  }
  &--enemy-team {
    justify-content: end;
  }
  &__heal-icon, &__dps-icon {
    padding-right: 3px;
    position: relative;
    top: 2px;
  }
}