@mixin button-default {
  text-align: center;
  margin: 0 0 0 15px;
  padding: 8px 12px;
  border: 1px solid $orange;
  color: $orange;
  background: $gunmetal;
  border-radius: $br;
  box-sizing: content-box;
  font-size: 1.5rem;

  &:hover {
    background: $gunmetalLight;
    transition: all 150ms;
  }
}

@mixin styled-scrollbar($val: $orange, $thumbBorderRadius: $br) {
  &::-webkit-scrollbar {
    margin: 1px 0;
    padding: 0;
    width: 4px;
    border-radius: $br;
  }

  &::-webkit-scrollbar-thumb {
    background: $val;
    border-radius: $thumbBorderRadius;
  }

  &::-webkit-scrollbar-track {
    border-radius: $br;
  }
}

@mixin minWidth($val) {
  @media screen and (min-width: $val) { @content; }
}

@mixin maxWidth($val) {
  @media (max-width: $val) { @content; }
}

@mixin tablet() {
  $toolboxHeight: 58px;
  @media (max-width: 899px) { @content; }
}

@mixin midSizeMobile() {
  $toolboxHeight: 58px;
  @media (max-width: 750px) { @content; }
}

@mixin phone() {
  $toolboxHeight: 48px;
  @media (max-width: 520px) { @content; }
}
