@mixin button-default {
  text-align: center;
  margin: 0 0 0 15px;
  padding: 8px 12px;
  border: 2px solid $orange;
  color: $orange;
  background: $gunmetal;
  border-radius: $br;
  box-sizing: content-box;
}

@mixin styled-scrollbar {
  &::-webkit-scrollbar {
    margin: 1px 0;
    padding: 0;
    width: 4px;
    border-radius: $br;
  }

  &::-webkit-scrollbar-thumb {
    background: $orange;
    border-radius: $br;
  }

  &::-webkit-scrollbar-track {
    border-radius: $br;
  }
}