.upload-area {
  position: fixed;
  bottom: 90px;
  left: -100px;
  border-right: 40px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 5px solid transparent;
  z-index: 1;
  transition: 150ms all;
  &__content-wrap {
    position: relative;
    padding:  10px 25px 10px 23px;
    border-radius: 0 14px 14px 0;
    line-height: 16px;
    color: $orange;
    font-weight: bold;
    text-transform: capitalize;
    background: $black85;
    text-align: center;
    cursor: pointer;
    overflow: visible;
    img {
      margin: 10px 0 0;
      width: 40px;
      height: 40px;
    }
    &:before {
      box-sizing: border-box;
      content: "";
      position: absolute;
      right: 0;
      top: calc(50% - 7px);
      border: 7px solid transparent;
      border-right-color: $orange;
      opacity: 1;
      transition: 300ms opacity;
      z-index: 2;
    }
  }
  &:hover, &.drag-hover {
    left: 0;
    transition: 250ms all;

    .upload-area__content-wrap:before {
      opacity: 0;
      transition: 300ms opacity;
    }
  }
  &.drag-hover {
    .upload-area__content-wrap {
      animation: boxShadowPulse;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
    }
  }

  @include tablet {
    display: none;
    position: relative;
    bottom: unset;
    left: unset;
    z-index: unset;
  }
}

@keyframes boxShadowPulse {
  0% {
    box-shadow: 0 0 5px 2px $orange;
  }
  50% {
    box-shadow: 0 0 10px 5px $orange;
  }
  100% {
    box-shadow: 0 0 5px 2px $orange;
  }
}