.upload-area {
  position: relative;
  flex-shrink: 0;
  bottom: 0;
  padding:  8px 19px;
  border: 1px solid transparent;
  border-radius: $br;
  line-height: 16px;
  color: $orange;
  background: rgba(0,0,0, 0.7);
  text-align: center;
  cursor: pointer;
  &:hover {
    border-color: $orange;
    transition: 150ms;
  }
}