// Colors

$black: #000000;
$black85: rgba(0,0,0, 0.85);
$black50: rgba(0,0,0, 0.5);
$mainBGColor: #313131;
$headerBGColor: #6a6c6a;
$darkTitleColor: #1a1c1e;
$gunmetal: #292f36;
$gunmetalLight: rgba(41, 47, 54, 0.85);
$gunmetal50: rgba(41, 47, 54, 0.50);
$saffron: #f8c630;
$darkerSaffron: #f8b11f;
$spanishGray: #8d918b;
$spanishGrayLight: #d0d4cf;
$auburn: #A22C29;
$auburnLight: rgb(191, 44, 39);
$orange: #fe4e00;
$darkOrangeHighlight: #431e00;
$white90: rgba(255, 255, 255, 0.9);
$white50: rgba(255, 255, 255, 0.5);
$warningRed: #ea0028;

$winGreen: rgb(4, 94, 7);
$winGreen85: rgba(4, 90, 7, 0.85);
$winGreenFade: rgba(102, 255, 0, 0);
$lossRed: rgb(99, 1, 16);
$lossRed85: rgba(106, 1, 17, 0.85);
$lossRedFade: rgba(255, 0, 0, 0);

$druid: #FF7C0A;
$rogue: #FFF468;
$hunter: #aad372;
$mage: #3FC7EB;
$paladin: #F48CBA;
$priest: #FFFFFF;
$shaman: #0070DD;
$warlock: #8788EE;
$warrior: #C69B6D;
$disconnected-player: #a68181;

$focusInsetBoxShadow: inset 0 0 4px 2.3px $orange;
$focusInsetBoxShadow2: inset 0 0 4px 1px $orange;

// Vars
$desktopToolboxHeight: 68px;
$tabletToolboxHeight: 58px;
$phoneToolboxHeight: 48px;

$maxContainerWidth: 1200px;
$br: 12px;
$containerHorizontalPadding: 30px;
$containerHorizontalPaddingTablet: 10px;
$containerHorizontalPaddingMob: 5px;
$chartHeaderMaxHeightDesktop: 35px;
$chartWrapTopMarginDesktop: 15px;
$chartWrapTopMarginTablet: 10px;
$chartHeaderMaxHeightTablet: 32px;
$drawerWidth: 290px;
$drawerButtonContentWidth: 130px;