// Colors

$gunmetal: #292F36;
$gunmetalLight: rgba(41, 47, 54, 0.85);
$saffron: #F8C630;
$spanishGray: #8D918B;
$auburn: #A22C29;
$auburnLight: rgb(191, 44, 39);
$orange: #fe4e00;

// Vars
$br: 12px;