@import "vars";
@import "mixins";
@import "suspense-fallback";
@import "upload-area";
@import "dashboard";
@import "dropdowns";
@import "btn-group";
@import "chart-wrapper";
@import "match-list";
@import "settings-modal";
@import "clear-state-button";
@import "empty-route";

html {
  font-size: 62.5%;
}

html, body, #root {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 2.6rem;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 0;
  background: $gunmetal;
  color: $saffron;
}

.mage {
  color: $mage;
}
.priest {
  color: $priest;
}
.hunter {
  color: $hunter;
}
.druid {
  color: $druid;
}
.warlock {
  color: $warlock
}
.warrior {
  color: $warrior;
}
.shaman {
  color: $shaman;
}
.paladin {
  color: $paladin;
}
.rogue {
  color: $rogue;
}